.tableku{
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  
} 
/* 
.tableku tr{
  display: flex;
  justify-content: space-between;
  border: none;
} */

.tableku td{
  padding: 0.5rem;
  border: none;
}

.tableku tr:nth-of-type(odd){
  background-color: #f3f2f8;
}